<mat-toolbar color="primary">
  <button mat-button routerLink="">Home</button>
  <button mat-button routerLink="/about">About</button>
  <button mat-button routerLink="/contact">Contact</button>
  <span class="spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/settings">Settings</button>
    <button mat-menu-item routerLink="/help">Help</button>
  </mat-menu>
</mat-toolbar>
